body{
    background-image: url(land-png.webp); 
    /* background-position: 70px; */
    background-size: cover;
    text-align: center;
    min-height: 100vh;
  }
  
  .btn-count{
    background-color: var(--bs-teal);
  }
  
  .counter-element{
    background-color: var(--bs-yellow);
    background-image: url(flow.jpg); 
    line-height: 290px;
    height: 230px;
    width: 220px;
    margin: auto;
    border-radius: 15px;
  }

  h1{
  font-size: 25px;
  font-style: font-family: 'Lora', serif;
  font-family: 'Nunito Sans', sans-serif;;
  }