body{
    background: var(--bs-orange);
    text-align: center;
  }
  
  .btn-count{
    background-color: var(--bs-teal);
  }
  
  .counter-element{
    background-color: var(--bs-yellow);
    background-image: url(flow.jpg); 
    line-height: 290px;
    height: 230px;
    width: 220px;
    margin: auto;
    border-radius: 15px;
  }