*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    position: relative;
}
#block1{
    width: 170px;
    height: 50px;
    background-color: black;
    position: relative;
    left: 0px;
    animation: block 2s infinite linear;
    background-repeat: repeat;
}
@keyframes block{
    0%{top:0}
    100%{top:100%}
}
#block2{
    width: 160px;
    height: 50px;
    background-color: black;
    position: absolute;
    right: 0px;
    animation: block 2s infinite linear;
}


#character{
    width: 20px;
    min-height: 20px;
    background-color: red;
    position: absolute;
    left: 200px;
    bottom: 0px;
}